### Load subject data

In [9]:
import pandas as pd
import os

dirPath = r"C:\Users\stoke\AppData\LocalLow\cmb\Distract\SimTest1"
subjectID = "SimTest1"
resultType = "trial_results"
date = "04_29_2019_12_34_35"
fileName = "_".join([subjectID,resultType,date])
filePath = os.path.join(dirPath,fileName + ".csv")
df = pd.read_table(filePath,sep =',')

In [37]:
df = df.drop('Unnamed: 14', axis = 1)

In [49]:
df.dtypes

trialNumberGlobal       int64
trialNumberBlock        int64
blockNumber             int64
timeExperiment        float64
timeBlock             float64
reactionTime          float64
blockType              object
fireType               object
targetType             object
numDistractors          int64
numDistractorsSing      int64
blockFirePosition      object
targetPosition         object
trialFirePosition      object
dtype: object

In [59]:
df.head()

,trialNumberGlobal,trialNumberBlock,blockNumber,timeExperiment,timeBlock,reactionTime,blockType,fireType,targetType,numDistractors,numDistractorsSing,blockFirePosition,targetPosition,trialFirePosition
0,0,0,0,3.394631,1.874190,0.722232,BlockFire,block,Fire,30,6,"(12.0, 1.0, 13.0)","(10.0, 2.0, 11.0)","(0.0, 0.0, 0.0)"
1,1,1,0,6.306173,4.785729,1.206082,BlockFire,block,NonFire,30,6,"(12.0, 1.0, 13.0)","(15.0, 1.0, 18.0)","(0.0, 0.0, 0.0)"
2,2,2,0,9.100067,7.579619,1.081556,BlockFire,block,NonFire,30,6,"(12.0, 1.0, 13.0)","(4.0, 2.0, 3.0)","(0.0, 0.0, 0.0)"
3,3,3,0,11.739940,10.219490,0.953316,BlockFire,block,NonFire,30,6,"(12.0, 1.0, 13.0)","(-3.0, 1.0, 6.0)","(0.0, 0.0, 0.0)"
4,4,4,0,14.871180,13.350730,1.423207,BlockFire,block,NonFire,30,6,"(12.0, 1.0, 13.0)","(0.0, 3.0, 6.0)","(0.0, 0.0, 0.0)"

In [46]:
line = df['targetPosition'][0]
chars = ")("
for c in chars:
    line = line.replace(c,"")

In [56]:
len(df['timeExperiment'])

800

In [60]:
df['timeExperiment'][799]/60

35.01916666666667